{% extends 'index.html' %}
{% load static %}
{% static "img" as baseUrl %}
{% block content %}


{% for pro in prod %}

<div class="destination item">
    <div class="destination_image">
        <img src="{{pro.img.url}}" alt="">
        {% if pro.offer %}
        <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
        {% endif %}
    </div>
    <div class="destination_content">
        <div class="destination_title"><a href="">{{pro.name}}</a>
        </div>
        <div class="destination_subtitle">
            <p>{{pro.desc}}</p>
        </div>
        <div class="destination_price">From ${{pro.price}}</div>
    </div>
</div>

{% endfor %}


{% endblock %}